﻿@model IEnumerable<Vsuhov.Project.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New User", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        
        <td>
            
            <a href="#" class="details_user" id="@item.Id">Details</a>
            <a href="#" class="delete_user" id="@item.Id">Delete</a>
        </td>
    </tr>
}

</table>
<h2>Информация о пользователе</h2>
<div style="border:1px solid black; width:400px; height:100px;" class="user_details_output">

</div>
<script id="detailsTemplate" type="text/x-jquery-tmpl">
    Возраст: ${Age},
    <br />
    Адрес: ${Address}
    <br />
</script>

<script src="~/Scripts/Users.js"></script>